# =============== #
 
# Unity generated #
 
# =============== #
 
RETURN_in_a_while/Temp/
 
RETURN_in_a_while/Obj/
 
RETURN_in_a_while/UnityGenerated/
 
RETURN_in_a_while/Library/
 
 
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
RETURN_in_a_while/ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?

RETURN_in_a_while/.DS_Store
 
RETURN_in_a_while/.DS_Store?

._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
GraphicsSettings.asset
 
ProjectSettings.asset
 
ProjectVersion.txt